table {
    border: 1px solid rgba(0, 0, 0, 0.12);
}

th.mat-header-cell:first-of-type {
    button.mat-sort-header-button {
        font-weight: 500;
    }
}

td.mat-cell {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-size: 13px;

    &:first-of-type {
        font-weight: 500;
    }

    &:not(.mat-header-cell) {
        vertical-align: top;
    }
}

td.mat-footer-cell {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-size: 13px;
    font-weight: 500;
}