<p class="mat-h4">Invoice Summary - {{invoice.reference}}</p>

<br>

<mat-progress-bar *ngIf="!invoice || !contacts" mode="indeterminate"></mat-progress-bar>

<div *ngIf="invoice && contacts" fxLayout="column" fxLayoutGap="25px">

    <form [formGroup]="invoiceForm">

        <div fxLayout.xs="column" fxLayout.gt-sm="row" fxLayoutGap="25px">

            <div fxFlex fxLayout="column">
                
                <mat-form-field appearance="outline" floatLabel="always" class="disabled">

                    <mat-label>ID</mat-label>

                    <input matInput formControlName="_id" placeholder="ID" disabled readonly>

                </mat-form-field>
                
                <mat-form-field appearance="outline" floatLabel="always">

                    <mat-label>Reference</mat-label>

                    <input matInput formControlName="reference" placeholder="Reference">

                    <mat-error *ngIf="form.reference.errors">Reference is required</mat-error>

                </mat-form-field>

            </div>

            <div fxFlex fxLayout="column">
                
                <mat-form-field appearance="outline" floatLabel="always">

                    <mat-label>Bill to</mat-label>
                            
                    <mat-select formControlName="contactId" placeholder="Contact">
                        
                        <mat-option *ngFor="let contact of contacts" [value]="contact._id">{{contact.reference}}</mat-option>

                    </mat-select>

                </mat-form-field>

                <a class="link-secondary">Update Contact</a>

            </div>

            <div fxFlex fxLayout="column">
                
                <mat-form-field appearance="outline" floatLabel="always">

                    <mat-label>Sale Date</mat-label>
                    
                    <input matInput formControlName="saleDate" [matDatepicker]="saleDate" placeholder="DD/MM/YYYY" (dateInput)="onDateInput('saleDate', $event)">

                    <mat-datepicker-toggle matSuffix [for]="saleDate"></mat-datepicker-toggle>

                    <mat-datepicker #saleDate [startAt]="invoice.date"></mat-datepicker>

                </mat-form-field>
                
                <mat-form-field appearance="outline" floatLabel="always">

                    <mat-label>Due Date</mat-label>
                    
                    <input matInput formControlName="dueDate" [matDatepicker]="dueDate" placeholder="DD/MM/YYYY" (dateInput)="onDateInput('dueDate', $event)">

                    <mat-datepicker-toggle matSuffix [for]="dueDate"></mat-datepicker-toggle>

                    <mat-datepicker #dueDate [startAt]="invoice.saleDate"></mat-datepicker>

                </mat-form-field>

            </div>

        </div>

        <div fxLayout="row" fxLayoutGap="25px">

            <div fxFlex fxLayout="column">
            
                <mat-form-field appearance="outline" floatLabel="always">

                    <mat-label>Notes</mat-label>

                    <textarea matInput formControlName="notes" placeholder="Notes" maxlength="200" rows="3"></textarea>

                </mat-form-field>

            </div>

            <div fxFlex fxLayout="column"></div>

            <div fxFlex fxLayout="column"></div>

        </div>

    </form>

    <p class="mat-body">Items</p>

    <table mat-table [dataSource]="itemsData" class="mat-elevation-z0" width="100%">
        
        <ng-container matColumnDef="description">
            
            <th mat-header-cell *matHeaderCellDef>Description</th>
            
            <td mat-cell *matCellDef="let item" width="20%">{{item.description}}</td>

            <td mat-footer-cell *matFooterCellDef></td>
            
        </ng-container>
        
        <ng-container matColumnDef="type">
            
            <th mat-header-cell *matHeaderCellDef>Type</th>
            
            <td mat-cell *matCellDef="let item">{{item.type | titlecase}}</td>

            <td mat-footer-cell *matFooterCellDef></td>
            
        </ng-container>
        
        <ng-container matColumnDef="unitPrice">
            
            <th mat-header-cell *matHeaderCellDef>Unit Price</th>
            
            <td mat-cell *matCellDef="let item">{{item.unitPrice | currency: 'GBP'}}</td>

            <td mat-footer-cell *matFooterCellDef></td>

        </ng-container>
        
        <ng-container matColumnDef="quantity">
            
            <th mat-header-cell *matHeaderCellDef>Quantity</th>
            
            <td mat-cell *matCellDef="let item">{{item.quantity}}</td>

            <td mat-footer-cell *matFooterCellDef></td>
            
        </ng-container>
        
        <ng-container matColumnDef="subtotal">
            
            <th mat-header-cell *matHeaderCellDef>Subtotal</th>
            
            <td mat-cell *matCellDef="let item">{{item.subtotal | currency: 'GBP'}}</td>

            <td mat-footer-cell *matFooterCellDef>{{invoice.subtotal | currency: 'GBP'}}</td>
            
        </ng-container>
        
        <ng-container matColumnDef="tax">
            
            <th mat-header-cell *matHeaderCellDef>Tax</th>
            
            <td mat-cell *matCellDef="let item">{{item.tax | currency: 'GBP'}}</td>

            <td mat-footer-cell *matFooterCellDef>{{invoice.tax | currency: 'GBP'}}</td>
            
        </ng-container>
        
        <ng-container matColumnDef="total">
            
            <th mat-header-cell *matHeaderCellDef>Total</th>
            
            <td mat-cell *matCellDef="let item">{{item.total | currency: 'GBP'}}</td>

            <td mat-footer-cell *matFooterCellDef>{{invoice.total | currency: 'GBP'}}</td>
            
        </ng-container>
        
        <ng-container matColumnDef="notes">
            
            <th mat-header-cell *matHeaderCellDef>Notes</th>
            
            <td mat-cell *matCellDef="let item" width="20%">{{item.notes}}</td>

            <td mat-footer-cell *matFooterCellDef></td>
            
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
        
        <tr mat-row *matRowDef="let item; columns: tableColumns" (click)="editItem(item)">

        <tr mat-footer-row *matFooterRowDef="tableColumns"></tr>
    
    </table>

    <div fxFlex fxLayout="row" fxLayoutAlign="end start">
        
        <div id="invoiceTotals" fxLayout="column" fxLayoutGap="15px">
            
            <div class="invoiceTotals__total">

                <p>Subtotal</p>

                <p>{{invoice.subtotal | currency: 'GBP'}}</p>

            </div>
            
            <div class="invoiceTotals__total">

                <p>Tax</p>

                <p>{{invoice.tax | currency: 'GBP'}}</p>

            </div>
            
            <div class="invoiceTotals__total">

                <p>Total</p>

                <p class="mat-body-strong">{{invoice.total | currency: 'GBP'}}</p>

            </div>

        </div>

    </div>

    <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" class="toolbar--bottom">

        <div class="toolbar__content--left">

            <button mat-button routerLink="/invoices/all">Back to List</button>

            <button mat-raised-button (click)="addItem()">Add Item</button>

        </div>

        <div class="toolbar__content--right">

            <button mat-raised-button (click)="saveInvoice()">Save</button>

            <button mat-raised-button (click)="saveAndSend()">Send</button>

        </div>

    </mat-toolbar>

</div>