<p class="mat-h4">Contact Summary - {{contact ? contact.reference : null}}</p>

<br>

<mat-progress-bar *ngIf="!contact || !invoices || !countries" mode="indeterminate"></mat-progress-bar>

<div *ngIf="contact && invoices && countries" fxLayout="column">

	<form [formGroup]="contactForm" fxLayout="column" fxLayoutGap="25px">

		<p>Basic Details</p>

		<div id="basicDetails" class="form-group" fxLayout.xs="column" fxLayout.gt-sm="row" fxLayoutGap="25px">
				
			<mat-form-field appearance="outline" floatLabel="always" class="disabled">

				<mat-label>ID</mat-label>

				<input matInput formControlName="_id" placeholder="ID" disabled readonly>

			</mat-form-field>
				
			<mat-form-field appearance="outline" floatLabel="always">

				<mat-label>Reference *</mat-label>

				<input matInput formControlName="reference" placeholder="Reference">

				<mat-error *ngIf="form.reference.errors">Reference is required</mat-error>

			</mat-form-field>
			
			<mat-form-field appearance="outline" floatLabel="always">

				<mat-label>VAT Number</mat-label>

				<input matInput formControlName="vatNumber" placeholder="VAT Number">

				<mat-error *ngIf="form.vatNumber.errors">Invalid VAT number</mat-error>

			</mat-form-field>

		</div>

		<p>Contact Details</p>

		<div class="form-group" fxLayout="column">
			
			<mat-form-field appearance="outline" floatLabel="always">

				<mat-label>Email Address *</mat-label>

				<input matInput formControlName="email" placeholder="Email Address">

				<mat-error *ngIf="form.email.errors">Invalid email address</mat-error>

			</mat-form-field>
			
			<mat-form-field appearance="outline" floatLabel="always">

				<mat-label>Primary Telephone</mat-label>

				<input matInput formControlName="telephonePrimary" placeholder="Primary Telephone">

				<mat-error *ngIf="form.telephonePrimary.errors">Invalid telephone number</mat-error>

			</mat-form-field>

			<mat-form-field appearance="outline" floatLabel="always">

				<mat-label>Secondary Telephone</mat-label>

				<input matInput formControlName="telephoneSecondary" placeholder="Secondary Telephone">

				<mat-error *ngIf="form.telephoneSecondary.errors">Invalid telephone number</mat-error>

			</mat-form-field>

		</div>

		<p>Address</p>

		<div formGroupName="address" class="form-group" fxLayout="column">
			
			<mat-form-field appearance="outline" floatLabel="always">

				<mat-label>Line 1</mat-label>

				<input matInput formControlName="line1" placeholder="Line 1">

			</mat-form-field>
			
			<mat-form-field appearance="outline" floatLabel="always">

				<mat-label>Line 2</mat-label>

				<input matInput formControlName="line2" placeholder="Line 2">

			</mat-form-field>

			<mat-form-field appearance="outline" floatLabel="always">

				<mat-label>Town / City</mat-label>

				<input matInput formControlName="townCity" placeholder="Town / City">

			</mat-form-field>

			<mat-form-field appearance="outline" floatLabel="always">

				<mat-label>County / State</mat-label>

				<input matInput formControlName="countyState" placeholder="County / State">

			</mat-form-field>

			<mat-form-field appearance="outline" floatLabel="always">

				<mat-label>Postcode</mat-label>

				<input matInput formControlName="postcode" placeholder="Postcode">

			</mat-form-field>

			<mat-form-field appearance="outline" floatLabel="always">

				<mat-label>Country</mat-label>
						
				<mat-select formControlName="country" placeholder="Country">
						
					<mat-option *ngFor="let country of countries" [value]="country.name">{{country.name}}</mat-option>

				</mat-select>

			</mat-form-field>

		</div>

	</form>
	
	<p>Invoices</p>

	<br>

	<div fxLayout="row" fxLayoutAlign="space-between center">
	
			<p class="mat-title">{{getInvoicesTotal() | currency: 'GBP'}} <span class="mat-small text-muted">(Last 365 days)</span></p>
	
			<mat-checkbox (change)="toggleArchivedInvoices($event)">Include archived?</mat-checkbox>
	
	</div>

	<table *ngIf="invoicesData.data.length" mat-table [dataSource]="invoicesData" matSort matSortActive="_id" matSortDirection="asc" class="mat-elevation-z0" width="100%" class="hasPaginator">
		
		<ng-container matColumnDef="reference">
			
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Reference</th>
			
			<td mat-cell *matCellDef="let invoice">{{invoice.reference}}</td>
			
		</ng-container>
		
		<ng-container matColumnDef="saleDate">
			
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Sale Date</th>
			
			<td mat-cell *matCellDef="let invoice">{{invoice.saleDate | date: 'dd/MM/yyyy'}}</td>
			
		</ng-container>
		
		<ng-container matColumnDef="dueDate">
			
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Due Date</th>
			
			<td mat-cell *matCellDef="let invoice">{{invoice.dueDate | date: 'dd/MM/yyyy'}}</td>
			
		</ng-container>
		
		<ng-container matColumnDef="subtotal">
			
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Subtotal</th>
			
			<td mat-cell *matCellDef="let invoice">{{invoice.subtotal | currency: 'GBP'}}</td>
			
		</ng-container>
		
		<ng-container matColumnDef="tax">
			
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Tax</th>
			
			<td mat-cell *matCellDef="let invoice">{{invoice.tax | currency: 'GBP'}}</td>
			
		</ng-container>
		
		<ng-container matColumnDef="total">
			
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
			
			<td mat-cell *matCellDef="let invoice">{{invoice.total | currency: 'GBP'}}</td>
			
		</ng-container>
		
		<ng-container matColumnDef="status">
			
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
			
			<td mat-cell *matCellDef="let invoice" class="status">{{getInvoiceStatus(invoice) | titlecase}}</td>
			
		</ng-container>
	
		<tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
		
		<tr mat-row *matRowDef="let row; columns: tableColumns" (click)="viewInvoice(row)">
	
	</table>
	
	<mat-paginator *ngIf="invoicesData" [length]="invoicesData.data.length" [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 50]" class="mat-elevation-z0"></mat-paginator>

    <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" class="toolbar--bottom">

        <div class="toolbar__content--left">

            <button mat-button routerLink="/contacts/all">Back to List</button>

        </div>

        <div class="toolbar__content--right">

            <button mat-raised-button (click)="saveContact()" [disabled]="!contactForm.valid || !contactForm.dirty">Save</button>

            <button mat-raised-button (click)="deleteContact()" color="warn">Delete</button>

        </div>

	</mat-toolbar>

</div>