form {
    margin-bottom: 25px;

    mat-form-field {
        width: 25%;

        @media screen and (max-width: 992px) {
            width: 100%;
        }
    }
}

mat-paginator {
    margin-bottom: 75px;
}