<mat-sidenav-container class="example-container" *ngIf="auth.tokenIsValid" fxLayout="row">

    <mat-sidenav opened mode="side" fxLayout="column">
        
        <div class="navbar-brand">

            <a matRipple routerLink="/home">JustAccounts</a>

        </div>

        <mat-nav-list>
            
            <a mat-list-item routerLink="/home" routerLinkActive="active-route">
            
                <mat-icon>home</mat-icon>

                <div class="mat-list-text">Home</div>
            
            </a>

            <mat-divider></mat-divider>
            
            <a mat-list-item routerLink="/invoices/all" routerLinkActive="active-route">
            
                <mat-icon>attach_money</mat-icon>

                <div class="mat-list-text">Invoicing</div>
            
            </a>
            
            <a mat-list-item routerLink="/expenses/all" routerLinkActive="active-route">
            
                <mat-icon>money_off</mat-icon>

                <div class="mat-list-text">Expenses</div>
            
            </a>
            
            <a mat-list-item routerLink="/mileage/all" routerLinkActive="active-route">
            
                <mat-icon>directions_car</mat-icon>

                <div class="mat-list-text">Mileage</div>
            
            </a>
            
            <a mat-list-item routerLink="/contacts/all" routerLinkActive="active-route">
            
                <mat-icon>people</mat-icon>

                <div class="mat-list-text">Contacts</div>
            
            </a>
            
            <a mat-list-item routerLink="/products/all" routerLinkActive="active-route">
            
                <mat-icon>local_offer</mat-icon>

                <div class="mat-list-text">Products & Services</div>
            
            </a>

            <mat-divider></mat-divider>
            
            <a mat-list-item routerLink="/settings" routerLinkActive="active-route">
            
                <mat-icon>settings</mat-icon>

                <div class="mat-list-text">Settings</div>
            
            </a>

        </mat-nav-list>
        
    </mat-sidenav>

    <mat-sidenav #notificationsMenu id="notificationsMenu" mode="over" position="end">
        
        <p class="mat-subheading-1">
              
            Notifications 
            
            <span class="mat-small">({{notificationsService.unreadNotifications.length}} unread)</span>
      
      </p>

        <mat-nav-list dense>

            <mat-list-item (click)="notificationsService.markAllRead()" *ngIf="notificationsService.unreadNotifications.length">

                  <a matLine class="mat-small">
                        
                        Mark all as read
                        
                        <mat-icon>done_all</mat-icon>
                  
                  </a>

            </mat-list-item>

            <mat-list-item routerLink="/notifications">

                  <a (click)="notificationsMenu.toggle()" matLine class="mat-small">
                        
                        View all
                        
                        <mat-icon>list</mat-icon>
                  
                  </a>

            </mat-list-item>

            <mat-list-item *ngFor="let notification of notificationsService.unreadNotifications" (click)="notificationsService.viewNotification(notification); notificationsMenu.toggle()">

                  <p matLine class="mat-body-strong">{{notification.title}}</p>

                  <p matLine class="mat-small">{{notification.description}}</p>

            </mat-list-item>

        </mat-nav-list>

    </mat-sidenav>

    <mat-toolbar *ngIf="auth.tokenIsValid">
    
        <mat-toolbar-row class="justify-content-between">

            <div class="toolbar-left">

                <div id="searchbar">



                </div>

            </div>

            <div class="toolbar-right">

                <button mat-icon-button (click)="notificationsMenu.toggle()" *ngIf="notificationsService.notifications.length" matBadge={{notificationsService.unreadNotifications.length}} matBadgeSize="small">
                    
                    <mat-icon>notifications</mat-icon>

                </button>

                <button mat-icon-button (click)="notificationsMenu.toggle()" *ngIf="!notificationsService.notifications.length">

                    <mat-icon>notifications_none</mat-icon>

                </button>
                
                <button mat-icon-button [matMenuTriggerFor]="accountMenu">

                    <mat-icon>person</mat-icon>

                </button>

                <mat-menu #accountMenu="matMenu" class="menu-right">

                    <button mat-menu-item>
                        
                        <mat-icon>person</mat-icon>

                        <span>My Account</span>

                    </button>

                    <button mat-menu-item>
                        
                        <mat-icon>book</mat-icon>

                        <span>Knowledge Base</span>

                    </button>

                    <button mat-menu-item>
                        
                        <mat-icon>headset_mic</mat-icon>

                        <span>Contact Support</span>

                    </button>

                    <mat-divider></mat-divider>

                    <button mat-menu-item>
                        
                        <mat-icon>notes</mat-icon>

                        <span>Terms of Service</span>

                    </button>

                    <button mat-menu-item>
                        
                        <mat-icon>security</mat-icon>

                        <span>Privacy Policy</span>

                    </button>

                    <mat-divider></mat-divider>

                    <button mat-menu-item (click)="auth.signOut()">Sign Out</button>

                </mat-menu>

            </div>
    
        </mat-toolbar-row>
    
    </mat-toolbar>

    <router-outlet *ngIf="auth.tokenIsValid">
        


    </router-outlet>

</mat-sidenav-container>

<router-outlet *ngIf="!auth.tokenIsValid"></router-outlet>